*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 10px;
  margin: 10px;
  background: linear-gradient(to right, #6e1996, #62c710);
  
}
.namecon {
  grid-column: 1 / -1;
  background-color: rgba(3, 3, 3, 0.75);
  text-align: center;
  border-radius: 20px 20px 0 0;
  
}
h1 {
  background: -webkit-linear-gradient(45deg,  #c97874 10%, #463042 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #8f313f;
  margin: 30px;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2.5rem;
  border: 1px solid rgb(240, 231, 231);
  outline: none;
  background-color: rgba(255, 255, 255, .75);
  border-radius: 2px;
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
  
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
  border-radius: 0 0 5px 5px ;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 2rem;
}

.output .current-operand {
  color: rgb(245, 238, 238);
  font-size: 3rem;
  
}